<% if current_user %>
  <h1 class = "text-center">Olá <%= current_user.name%> </h1>
  <br>
<% else %>
<h1 class = "text-center">Olá stranger </h1>

<br>
<% end %>

<div class = "row">
  <%= link_to 'Músicas', songs_path, method: :get, class: "btn btn-dark mt-2" %>
  <br>
  <%= link_to 'Adicionar músicas', new_song_path, class: "btn btn-dark mt-2" %>
  <br>
  <%= link_to 'Meus interesses', index_path, class: "btn btn-dark mt-2" %>
  <br>
  <%= link_to 'Músicas populares', most_popular_path, class: "btn btn-dark mt-2" %>
  <br>
  <%= link_to 'Dashboard', user_dashboard_path, class: "btn btn-dark mt-2" %>
</div>