<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @song.artist %>
</p>

<% if @song.ratings.exists?%>
<p>
  <strong>Rating:</strong>

  <%= @song.ratings.first.value %>
</p>
<%end%>
<%= form_for(@rating, remote: true, url: create_rating_path)  do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :song_id, value: @song.id %>
  <%= f.number_field :value %>
  <%= f.submit "Enviar" %>
<% end %>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
